{% import "partials/_mixins.njk" as mixins %}
{% import "components/controls/input/input.njk" as input %}
{% import "components/controls/button/button.njk" as button %}

{% macro default (array, params) %}

<form class="blogpost-form blogpost-form_journal" action="/ajax/thanksFormSuccess.json" method="POST" data-ajax-form-thanks data-result-message="custom">
	{# по полю с ID ориентируемся, новая запись или редактируем старую #}
	<input type="hidden" name="ID" data-field="ID">
	<div class="form-result" data-form-result></div>
	<div class="form-fields">
		{% for field in array.fields %}
			<div class="form-field">
				{{ input.default({
					className: field.className,
					type: field.type,
					value: field.value,
					attrs: field.attrs
				}) }}
			</div>
		{% endfor %}
	</div>

	<div class="form-controls row align-items-center">
		<div class="form-controls__col form-controls__main col-auto">
			{% for control in array.buttons %}
				{{ button.default(
					control
				) }}
			{% endfor %}
		</div>
		<div class="form-controls__col form-controls__aside col-auto">
			<div class="btn-input-container hint-container hint-container_visibility">
				<input class="btn-input sr-only" type="checkbox" name="VISIBILITY" value="Y" id="blogpost-form_1__visibility" data-field="VISIBILITY">
				{{ button.default(
					{
						className: 'blogpost-form__visibility c-btn',
						icon: mixins.icon(
							{
								className: 'c-btn__icon svg-ico_no_stroke',
								id: 'eye-crossed',
								file: 'images/svg.svg'
							}
						),
						attrs: {
							for: 'blogpost-form_1__visibility'
						}
					}
				) }}

				<div class="hint-toggle" data-popup-toggle-default data-popup-toggle="visibility_1">
					{{ mixins.icon(
						{
							className: 'hint-toggle__icon svg-ico_no_stroke',
							id: 'question',
							file: 'images/svg.svg'
						}
					) }}
				</div>
			</div>
		</div>
	</div>
</form>

<div class="c-popup c-popup_style_default" data-popup="visibility_1">
	<div class="c-popup__close" data-popup-close>
		{{ mixins.icon(
			{
				className: 'c-popup__close-icon svg-ico_no_fill',
				id: 'times'
			}
		) }}
	</div>
	Статус публичности по умолчанию можно установить в настройках.
</div>

{% endmacro %}

{% macro thanks (array, params) %}

<form class="blogpost-form blogpost-form_thanks" action="/ajax/thanksFormSuccess.json" method="POST" data-ajax-form-thanks data-result-message="custom">
	{# по полю с ID ориентируемся, новая запись или редактируем старую #}
	<input type="hidden" name="ID" data-field="ID">
	<div class="form-result" data-form-result></div>
	<div class="form-fields">
		{% for field in array.fields %}
			<div class="form-field {{ field.fieldClassName }}">
				{% if field.attrs.name === 'MESSAGE' %}
					<div class="form-field__placeholder">
						Своё детство за... <br>
						За то, что у меня уже есть... <br>
						Судьбу за...
					</div>
				{% endif %}

				{{ input.default({
					className: field.className,
					type: field.type,
					value: field.value,
					attrs: field.attrs
				}) }}
			</div>
		{% endfor %}
	</div>

	<div class="form-controls row align-items-center">
		<div class="form-controls__col form-controls__main col-auto">
			{% for control in array.buttons %}
				{{ button.default(
					control
				) }}
			{% endfor %}
		</div>
		<div class="form-controls__col form-controls__aside col-auto">
			<div class="btn-input-container hint-container hint-container_visibility">
				<input class="btn-input sr-only" type="checkbox" name="VISIBILITY" value="Y" id="blogpost-form__visibility" data-field="VISIBILITY">
				{{ button.default(
					{
						className: 'blogpost-form__visibility c-btn',
						icon: mixins.icon(
							{
								className: 'c-btn__icon svg-ico_no_stroke',
								id: 'eye-crossed',
								file: 'images/svg.svg'
							}
						),
						attrs: {
							for: 'blogpost-form__visibility'
						}
					}
				) }}

				<div class="hint-toggle" data-popup-toggle-default data-popup-toggle="visibility">
					{{ mixins.icon(
						{
							className: 'hint-toggle__icon svg-ico_no_stroke',
							id: 'question',
							file: 'images/svg.svg'
						}
					) }}
				</div>
			</div>
		</div>
	</div>
</form>

<div class="c-popup c-popup_style_default" data-popup="visibility">
	<div class="c-popup__close" data-popup-close>
		{{ mixins.icon(
			{
				className: 'c-popup__close-icon svg-ico_no_fill',
				id: 'times'
			}
		) }}
	</div>
	Статус публичности по умолчанию можно установить в настройках.
</div>

{% endmacro %}
