{% import "partials/_mixins.njk" as mixins %}
{% import "partials/_content-includes.njk" as includes %}
{% import "components/controls/input/input.njk" as input %}
{% import "components/controls/ctrl/ctrl.njk" as ctrl %}
{% import "components/controls/button/button.njk" as button %}

{% macro custom (array, params) %}

<form class="c-form inline-form" id="{{ array.formID }}" action="{{ array.action or '#' }}" method="POST" {{ params.attrs | implode_attrs | safe }}>
	<div class="inline-form__panel" data-display-state="default">
		{% if array.formTitle %}
			<h2 class="c-title c-title_modal">{{ array.formTitle | safe }}</h2>
		{% endif %}

		{% if array.formIntro %}
			<div class="form-intro">
				{{ array.formIntro | safe }}
			</div>
		{% endif %}

		<div class="form-fields">
			<div class="form-result" data-form-result></div>

			{% for field in array.fields %}
				<div class="form-field {{ 'mb-0' if loop.index === array.fields | length }}">
					{% if field.type === 'code' %}
						{{ codeInput.default(
							{
								attrs: field.attrs
							}
						) }}
					{% else %}
						<label class="c-input-label {{ 'sr-only' if params.showLabels === false and field.type !== 'textarea' }}" for="{{ field.attrs.id }}">
							{{ field.label }}
							{% if field.attrs.required %}
								<span class="c-input-label__required">*</span>
							{% endif %}
						</label>
						{{ input.default({
							className: field.className,
							type: field.type,
							value: field.value,
							attrs: field.attrs
						}) }}
					{% endif %}
				</div>
			{% endfor %}

			{% if params.privacyCheck %}
				<div class="form-field privacy-check form-field_consent">
					{{ ctrl.default({
						type: 'checkbox',
						text: includes.privacy('#'),
						className: 'c-ctrl_style_secondary c-ctrl_size_md',
						attrs: {
							name: "privacy",
							id: "privacy-check-" + 4 | rand_string,
							checked: true
						}
					}) }}
				</div>
			{% endif %}

			<div class="form-controls">
				{% for control in array.buttons %}
					{{ button.default(
						control
					) }}
				{% endfor %}
			</div>
		</div>

		{% if array.formOutro %}
			<div class="form-outro">
				{{ array.formOutro | safe }}
			</div>
		{% endif %}
	</div>

	<div class="inline-form__panel inline-form__panel_result d-none" data-display-state="success">
		<h2 class="c-title c-title_modal" data-note-title></h2>
		<div class="form-intro" data-note-text></div>

		<div class="form-controls">
			{{ button.default(
				{
					className: 'c-form__submit c-btn c-btn_style_default c-btn_color_tertiary c-btn_size_lg',
					textClassName: 'c-btn__text',
					text: 'Отправить ещё сообщение',
					icon: mixins.icon(
						{
							className: 'c-btn__icon svg-ico_no_stroke',
							id: 'arrow-right-secondary'
						}
					),
					iconPosition: 'after',
					attrs: {
						type: 'button',
						'data-reset-form-state': true
					}
				}
			) }}
		</div>
	</div>
</form>

{% endmacro %}
