@use "sass:math";

@import "dev/scss/helpers/variables";
@import "dev/scss/helpers/mixins";

/****************************************************************************/
/* COMMENTS LIST */
/****************************************************************************/

.comments-list {

}

.comments-list__item {
	padding-bottom: 20px;
	border-bottom: 2px solid #dde0ee;
	margin-bottom: 20px;
}

@media (min-width: $bp-xl) {

	.comments-list__item {
		padding-bottom: 30px;
		margin-bottom: 30px;
	}
}


/****************************************************************************/
/* COMMENT ITEM */
/****************************************************************************/

.comment-item_default {
	position: relative;

	.comment-item__head {
		margin-bottom: 12px;
	}

	.comment-author {
		display: flex;
	}

	.avatar-card-container {
		flex: 0 0 auto;
		margin-right: 10px;
	}

	.comment-author__main {
		flex: 1 0 1%;
		min-width: 0;
	}

	.comment-author__name {
		font-size: 14px;
		font-weight: 700;
	}

	.comment-author__date {
		color: #b8bcce;
		font-size: 12px;
		line-height: 1.25;
	}

	.avatar-card__img {
		top: 0;
		right: 0;
		bottom: 0;
		left: 0;
	}

	.comment-item__desc {
		font-size: 14px;
		line-height: 1.5;
	}

	.comment-item__actions {
		margin-top: 10px;
		font-size: 12px;
	}

	.comment-item__delete {
		position: absolute;
		width: 20px;
		height: 20px;
		background: 0;
		color: #dde0ee;
		top: 0;
		right: 0;
		z-index: 1;

		.c-btn__icon {
			width: 14px;
			height: 14px;
		}

		&:hover, &:focus {
			color: $color-primary;
		}
	}
}

@media (max-width: #{$bp-xl - 1px}) {

	.comment-item_default {

		.stats-list_comments {
			position: absolute;
			bottom: 0;
			right: 0;
		}

		.stat-item_style_toggle {
			padding: 4px 8px;
		}
	}
}

@media (min-width: $bp-xl) {

	.comment-item_default {
		padding-left: 92px;
		padding-right: 80px;

		.comment-item__head {
			margin-bottom: 8px;
		}

		.avatar-card-container {
			position: absolute;
			top: 0;
			left: 0;
			width: 68px;
			height: 68px;
		}

		.comment-author__main {
			margin-left: -9px;
			margin-right: -9px;
		}

		.comment-author__name {
			font-size: 16px;
			padding-left: 9px;
			padding-right: 9px;
		}

		.comment-author__date {
			font-size: 14px;
			padding-left: 9px;
			padding-right: 9px;
		}

		.comment-item__desc {
			font-size: 16px;
		}

		.stats-list_comments {
			position: absolute;
			top: 35px;
			right: 0;
		}
	}
}


/**
* Deleted
*/

.comment-item_deleted {
	color: #b8bcce;
}
