{% import "partials/_mixins.njk" as mixins %}
{% import "components/controls/button/button.njk" as button %}
{% import "components/forms/comment-form/comment-form.njk" as commentForm %}
{% import "components/lists/stats-list/stats-list.njk" as statsList %}

{% macro default (array, params) %}

<div class="comments-list comments-list_default {{ params.className }}" {{ attrs | implode_attrs | safe }}>
	<div class="comments-list__list {{ params.listClassName }}" {{ params.listAttrs | implode_attrs | safe }}>
		{% for item in array %}
			{% set itemId = 'comment-' + 6 | rand_string %}

			{% set elAttrs = {
				'data-id': itemId,
				'data-loaded': false
			} %}

			<div class="comments-list__item {{ params.itemClassName }}">
				<div class="comment-item comment-item_default" {{ elAttrs | implode_attrs | safe }}>
					<div class="comment-item__head">
						<div class="comment-author">
							<a class="avatar-card avatar-card_events" href="#">
								<span class="avatar-card__img u-img-bg" style="background-image: url('{{ item.img }}');"></span>
							</a>
							<div class="comment-author__main row align-items-center">
								<div class="comment-author__name col-12 col-xl-auto">
									<a class="u-text" href="#">{{ item.name }}</a>
								</div>
								<div class="comment-author__date col-12 col-xl-auto">{{ item.date }}</div>
							</div>
						</div>
					</div>

					<div class="comment-item__desc">
						{{ item.text | safe }}
					</div>

					<div class="comment-item__actions">
						<div class="row">
							<div class="col-auto">
								{{ button.default(
									{
										"className": "c-btn c-btn_style_link c-btn_color_primary c-btn_bare c-btn_accent text-uppercase",
										"text": "Ответить",
										"attrs": {
											"type": "button",
											"data-reply": true
										}
									}
								) }}
							</div>
						</div>
					</div>

					{{ statsList.comments(
						item.stats,
						{
							className: 'stats-list_comments'
						}
					) }}
				</div>
			</div>
		{% endfor %}
	</div>
	{# форма #}
	<div class="comments-list__form">
		{{ commentForm.default(
			{
				fields: [
					{
						type: 'textarea',
						className: 'c-input c-input_style_default c-input_size_lg c-input_border',
						value: '',
						attrs: {
							id: 'comment-form__message',
							name: 'MESSAGE',
							placeholder: 'Написать комментарий...',
							'data-required': true,
							'data-comment-input': true
						}
					}
				],
				buttons: [
					{
						className: 'c-btn c-btn_style_default c-btn_color_primary c-btn_accent c-btn_size_lg',
						text: 'Отправить',
						attrs: {
							type: 'submit'
						}
					},
					{
						className: 'c-btn c-btn_style_link c-btn_color_primary c-btn_bare text-uppercase',
						text: 'Отмена',
						attrs: {
							type: 'button',
							'data-close-form': true
						}
					}
				]
			}
		) }}
	</div>

	<script id="tmpl-comment-deleted" type="text/x-mustache-template">
		<div class="comment-item comment-item_default comment-item_deleted">
			<div class="comment-item__desc"><% TEXT %></div>
		</div>
	</script>

	{# копия формы для ответов #}
	{# <div class="comments-list__reply-form" style="display:none;">
		{{ commentForm.default(
			{
				fields: [
					{
						type: 'textarea',
						className: 'c-input c-input_style_default c-input_size_lg c-input_border',
						value: '',
						attrs: {
							id: 'comment-form__message',
							name: 'MESSAGE',
							placeholder: 'Написать комментарий...',
							'data-required': true,
							'data-comment-input': true
						}
					}
				],
				buttons: [
					{
						className: 'c-btn c-btn_style_default c-btn_color_primary c-btn_accent c-btn_size_lg',
						text: 'Отправить',
						attrs: {
							type: 'submit'
						}
					},
					{
						className: 'c-btn c-btn_style_link c-btn_color_primary c-btn_bare text-uppercase',
						text: 'Отмена',
						attrs: {
							type: 'button',
							'data-close-form': true
						}
					}
				]
			}
		) }}
	</div> #}
</div>

{% endmacro %}
