{% import "partials/_mixins.njk" as mixins %}
{% import "partials/_content-includes.njk" as includes %}
{% import "components/controls/button/button.njk" as button %}
{% import "components/forms/popup-default/popup-default.njk" as popupForm %}
{% import "components/nav/fixed-menu/fixed-menu.njk" as fixedMenu %}

<!DOCTYPE html>
<html lang="ru" class="no-js">
<head>
	<meta http-equiv="X-UA-Compatible" content="IE=Edge">
	<meta charset="UTF-8">
	<title>{{ title if title else 'Шаблон' }}</title>
	<meta name="format-detection" content="telephone=no"/>

	{% if site.responsive %}
		<meta name="viewport" content="width=device-width, initial-scale=1">
	{% else %}
		<meta name="viewport" content="width=1200">
	{% endif %}

	{% include "partials/_app-icons.njk" %}

	<link rel="stylesheet" type="text/css" href="css/vendor.css">
	<link rel="stylesheet" type="text/css" href="styles.css">
	<link rel="stylesheet" type="text/css" href="template_styles.css">
	<link rel="stylesheet" type="text/css" href="css/components.css">

	<link rel="preload" href="fonts/NunitoSans-Regular.woff2" as="font" type="font/woff2" crossorigin="anonymous">
	<link rel="preload" href="fonts/NunitoSans-SemiBold.woff2" as="font" type="font/woff2" crossorigin="anonymous">

	<script>document.documentElement.className = document.documentElement.className.replace(/\bno-js\b/,'js');</script>
	<script src="js/jquery.min.js"></script>
	<script src="js/jquery.fancybox.min.js"></script>
	<script src="js/lazysizes.min.js"></script>
	<script src="js/ls.unveilhooks.min.js"></script>
	<script src="js/svgxuse.min.js"></script>
	<script src="js/jquery.mask.min.js"></script>
	<script src="js/jquery.sticky.js"></script>
	<script src="js/highcharts.js"></script>
	<script src="js/minibar.min.js"></script>
	<script src="js/datepicker.min.js"></script>
	<script src="js/popper.min.js"></script>
	<script src="js/rangeslider.min.js"></script>
	{# <script src="js/ScrollMagic.js"></script> #}
	{# <script src="js/debug.addIndicators.js"></script> #}
	<script src="js/mustache.min.js"></script>
	{# runtime нужен для работы бандлов #}
	<script src="js/bundle.runtime.js"></script>
	<script src="js/bundle.main.js"></script>
	<script src="js/bundle.comments.js"></script>
	<script src="js/bundle.ladder.js"></script>
	<script src="js/bundle.step.js"></script>
	<script src="js/bundle.personal.js"></script>
	<script src="js/bundle.chat.js"></script>
</head>

<body>

{# Variables array for passing to components #}
{% set app = {
    isIndex: true if pageType == 'mainPage' else false,
	isFullWidth: true if pageWidth == 'fullWidth' else false,
	isSearch: true if pageType == 'searchPage' else false,
	is404: true if pageType == '404' else false,
	hasSidebar: true  if hasSidebar == true else false,
	hasFilter:  true  if hasFilter == true else false,
	hideH1: true if hideH1 == true else false,
	hideBreadcrumbs: true if hideBreadcrumbs == true else false,
	path: 'Главная/' + (path if path) + pageTitle
} %}

{% include "partials/_svg-sprite.njk" %}

{% set pageClassName = {
	'c-page_restricted': accessRestricted,
	'c-page_404': app.is404,
	'c-page_footer_no_radius': footerColor,
	'c-page_header_fixed': headerFixed
} %}

<div class="c-page {{ pageClassName | implode_classname }}">
	{% include "layouts/_header.njk" %}

	{% set contentClassName = {
		'content_index pb-0': app.isIndex,
		'content_detail': not app.isIndex,
		'content_textpage default-typo': app.isTextPage,
		'pt-0': noPaddingTop,
		'pb-0': noPaddingBottom
	} %}

	<div class="content {{ contentClassName | implode_classname }}">
		{% if not app.isFullWidth %}
			<div class="container">
		{% endif %}

			<div class="content__body">
				<main class="content__item content__main">
					{% if app.isIndex %}
						{% include "partials/_indexblocks.njk" %}
					{% endif %}

					{% if not app.isIndex and not app.hideH1 %}
						{% if app.isFullWidth %}
							<div class="container">
						{% endif %}

						<h1 class="c-title c-title_size_xl">{{ pageTitle }}</h1>

						{% if app.isFullWidth %}
							</div>
							<!-- /.container -->
						{% endif %}
					{% endif %}

					{% block content %}
						{# content #}
					{% endblock %}
				</main>
			</div>
			<!-- /.content__body -->

		{% if not app.isFullWidth %}
			</div>
			<!-- /.container -->
		{% endif %}
	</div>
	<!-- /.content -->

	{% if not hideFooter %}
		{% include "layouts/_footer.njk" %}
	{% endif %}
</div>
	{# авторизация #}
	{{ popupForm.auth(
		{
			formID: 'auth-form',
			formTitle: 'Войти',
			formOutro: '<a data-modal href="#register-form-popup">Ещё не зарегистрированы?</a><br><a data-modal href="#password-form-popup">Не помните пароль?</a>',
			action: '/ajax/authSuccess.json',
			fields: [
				{
					type: 'tel',
					className: 'c-input c-input_style_default c-input_size_lg',
					value: '',
					label: 'Телефон',
					attrs: {
						id: 'auth-form__phone',
						name: 'PHONE',
						required: false,
						'data-required': true,
						autocomplete: 'phone'
					}
				},
				{
					type: 'password',
					className: 'c-input c-input_style_default c-input_size_lg',
					value: '',
					label: 'Пароль',
					icon: {
						id: 'eye',
						className: 'c-btn__icon svg-ico_no-stroke',
						file: 'images/svg.svg'
					},
					attrs: {
						id: 'auth-form__password',
						name: 'PASSWORD',
						autocomplete: 'current-password'
					}
				}
			],
			buttons: [
				{
					className: 'c-form__submit c-btn c-btn_style_default c-btn_color_primary c-btn_size_lg c-btn_accent c-btn_width_md w-100',
					text: 'Выслать код',
					attrs: {
						type: 'submit'
					}
				}
			]
		}, {
			className: 'c-modal_width_md',
			attrs: {
				'data-ajax-form': true
			},
			popupAttrs: {
				'data-role': 'auth',
				'data-gradient': true
			},
			links: true
		}
	) }}

	{# восстановление пароля #}
	{{ popupForm.auth(
		{
			formID: 'password-form',
			formTitle: 'Смена пароля',
			action: '/ajax/authSuccess.json',
			fields: [
				{
					type: 'tel',
					className: 'c-input c-input_style_default c-input_size_lg',
					value: '',
					label: 'Телефон',
					attrs: {
						id: 'password-form__phone',
						name: 'PHONE',
						required: false,
						'data-required': true,
						autocomplete: 'phone'
					}
				}
			],
			buttons: [
				{
					className: 'c-form__submit c-btn c-btn_style_default c-btn_color_primary c-btn_size_lg c-btn_accent c-btn_width_md w-100',
					text: 'Выслать код',
					attrs: {
						type: 'submit'
					}
				}
			]
		}, {
			className: 'c-modal_width_md',
			attrs: {
				'data-ajax-form': true,
				'data-next': 'password_change'
			},
			popupAttrs: {
				'data-role': 'password',
				'data-gradient': true
			}
		}
	) }}

	{# смена пароля #}
	{{ popupForm.auth(
		{
			formID: 'password-confirm-form',
			formTitle: 'Смена пароля',
			formIntro: 'На номер <span data-field="phone"></span> было выслано СМС с одноразовым кодом для входа',
			action: '/ajax/authCodeSuccess.json',
			fields: [
				{
					type: 'hidden',
					attrs: {
						name: 'PHONE',
						'data-field': 'phone'
					}
				},
				{
					type: 'code',
					attrs: {
						name: 'CODE'
					}
				}
			],
			buttons: [
				{
					className: 'c-form__submit c-btn c-btn_style_ghost c-btn_color_primary c-btn_size_lg c-btn_accent c-btn_width_md w-100 d-inline-block',
					text: 'Получить новый код <span data-timer-text>через <span data-timer>55</span> сек.</span>',
					attrs: {
						type: 'submit'
					}
				}
			]
		}, {
			className: 'c-modal_width_md',
			privacyCheck: false,
			attrs: {
				'data-ajax-form-code': true
			},
			popupAttrs: {
				'data-role': 'password_change',
				'data-gradient': true
			}
		}
	) }}

	{# регистрация #}
	{{ popupForm.auth(
		{
			formID: 'register-form',
			formTitle: 'Регистрация',
			formIntro: '',
			formOutro: '<a data-modal href="#auth-form-popup">Уже зарегистрированы?</a>',
			action: '/ajax/registrationSuccess.json',
			fields: [
				{
					type: 'text',
					className: 'c-input c-input_style_default c-input_size_lg',
					value: '',
					label: 'Имя',
					attrs: {
						id: 'register-form__name',
						name: 'NAME',
						placeholder: 'Введите ваше имя',
						'data-required': true
					}
				},
				{
					type: 'tel',
					className: 'c-input c-input_style_default c-input_size_lg',
					value: '',
					label: 'Телефон',
					attrs: {
						id: 'register-form__phone',
						name: 'PHONE',
						placeholder: '+7 999 999-99-99',
						'data-required': true
					}
				},
				{
					type: 'password',
					className: 'c-input c-input_style_default c-input_size_lg',
					value: '',
					label: 'Пароль',
					attrs: {
						id: 'register-form__password',
						name: 'PASSWORD',
						placeholder: 'Введите пароль',
						autocomplete: 'off'
					}
				}
			],
			buttons: [
				{
					className: 'c-form__submit c-btn c-btn_style_default c-btn_color_primary c-btn_size_lg c-btn_accent c-btn_width_md',
					text: 'Я готов к подъёму',
					icon: mixins.icon(
						{
							className: 'c-btn__icon svg-ico_no_stroke',
							id: 'arrow-steps',
							file: 'images/svg.svg'
						}
					),
					iconPosition: 'after',
					attrs: {
						type: 'submit'
					}
				}
			]
		}, {
			className: 'c-modal_width_md',
			privacyCheck: true,
			attrs: {
				'data-ajax-form': true,
				'data-next': 'confirm_reg'
			},
			popupAttrs: {
				'data-role': 'register',
				'data-gradient': true
			}
		}
	) }}

	{{ popupForm.auth(
		{
			formID: 'confirm-form',
			formTitle: 'Регистрация',
			formIntro: 'На номер <span data-field="phone"></span> было выслано СМС с кодом подтверждения',
			action: '/ajax/authCodeSuccess.json',
			fields: [
				{
					type: 'hidden',
					attrs: {
						name: 'PHONE',
						'data-field': 'phone'
					}
				},
				{
					type: 'code',
					attrs: {
						name: 'CODE'
					}
				}
			],
			buttons: [
				{
					className: 'c-form__submit c-btn c-btn_style_ghost c-btn_color_primary c-btn_size_lg c-btn_accent c-btn_width_md w-100 d-inline-block',
					text: 'Получить новый код <span data-timer-text>через <span data-timer>55</span> сек.</span>',
					attrs: {
						type: 'submit'
					}
				}
			]
		}, {
			className: 'c-modal_width_md',
			privacyCheck: false,
			attrs: {
				'data-ajax-form-code': true,
				'data-next': 'username'
			},
			popupAttrs: {
				'data-role': 'confirm_reg',
				'data-gradient': true
			}
		}
	) }}

	{{ popupForm.auth(
		{
			formID: 'username-form',
			formTitle: 'Регистрация прошла успешно!',
			formIntro: 'Внимательно отнеситесь к выбору псевдонима, в последствии поменять не получится.',
			action: '/ajax/usernameSuccess.json',
			fields: [
				{
					type: 'text',
					className: 'c-input c-input_style_default c-input_size_lg',
					value: '',
					label: 'Псевдоним',
					attrs: {
						id: 'username-form__name',
						name: 'LOGIN',
						placeholder: 'User1589',
						'data-required': true
					}
				}
			],
			buttons: [
				{
					className: 'c-form__submit c-btn c-btn_style_default c-btn_color_primary c-btn_size_lg c-btn_accent c-btn_width_md',
					text: 'Я готов к подъёму',
					icon: mixins.icon(
						{
							className: 'c-btn__icon svg-ico_no_stroke',
							id: 'arrow-steps',
							file: 'images/svg.svg'
						}
					),
					iconPosition: 'after',
					attrs: {
						type: 'submit'
					}
				}
			]
		}, {
			className: 'c-modal_width_md',
			privacyCheck: false,
			attrs: {
				'data-ajax-form': true
			},
			popupAttrs: {
				'data-role': 'username',
				'data-gradient': true
			}
		}
	) }}

	{% if isAuthorized %}
		{{ fixedMenu.default(
			menuAuthorizedArr,
			{
				className: 'd-lg-none',
				profileMenu: profileMenuArr
			}
		) }}
	{% endif %}

	{% include "components/modules/dev-panel/dev-panel.njk" %}

	<div class="c-overlay"></div>
</body>
</html>
