{% import "partials/_mixins.njk" as mixins %}

{% macro ajax (array, params) %}

<div class="dialogues-list">
	<div class="dialogues-list__list">
		{% for item in array %}
			<div class="dialogues-list__item">
				<a class="dialogue-item dialogue-item_events {{ 'dialogue-item_new' if item.new > 0 }}" href="javascript:;" data-id="1">
					{# <div class="dialogue-item__thumb">
						<span class="dialogue-item__img lazyload" data-bg="{{ item.img }}"></span>
					</div> #}
					<div class="avatar-card">
						<span class="avatar-card__img u-img-bg" style="background-image: url('{{ item.img }}');"></span>
					</div>
					<div class="dialogue-item__main">
						<div class="dialogue-item__title">
							{{ item.title }}
						</div>
						<div class="dialogue-item__message">
							{{ item.message }}
						</div>
					</div>
					<div class="dialogue-item__aside">
						<div class="dialogue-item__time">
							{{ item.dateTime }}
						</div>

						{% if item.new > 0 %}
							<div class="dialogue-item__count">
								<div class="dialogue-count">{{ item.new }}</div>
							</div>
						{% else %}
							{{ mixins.icon({
								id: 'check_chat',
								className: 'dialogue-item__state-check svg-ico_no_fill'
							}) }}
						{% endif %}
					</div>
				</a>
			</div>
		{% endfor %}
	</div>
</div>

{% endmacro %}
