@use "sass:math";

@import "dev/scss/helpers/variables";
@import "dev/scss/helpers/mixins";

/****************************************************************************/
/* DIALOGUE ITEM */
/****************************************************************************/

.dialogue-item {
	display: block;
	display: flex;
	text-decoration: none;
	// padding: 10px 25px;
	padding: 10px 0;
	height: 70px;
	color: $color-text;

	.avatar-card {
		width: 42px;
		height: 42px;
	}

	.avatar-card__img {
		top: 2px;
		right: 2px;
		bottom: 2px;
		left: 2px;
	}

	&:hover, &:focus {
		background-color: #f9faff;
	}
}

.dialogue-item__main {
	flex: 1 0 1%;
	min-width: 0;
	padding-left: 15px;
}

.dialogue-item__aside {
	width: 60px;
	padding-left: 20px;
	padding-top: 5px;
	flex: 0 0 auto;
	text-align: right;
	position: relative;
}

.dialogue-item__title {
	font-weight: 700;
	font-size: 16px;
	text-overflow: ellipsis;
	overflow: hidden;
	white-space: nowrap;
}

.dialogue-item__message {
	color: #b8bcce;
	font-size: 16px;
	text-overflow: ellipsis;
	overflow: hidden;
	white-space: nowrap;
}

.dialogue-item__time {
	font-size: 14px;
}

.dialogue-count {
	width: 24px;
	height: 24px;
	background: $color-primary;
	font-size: 14px;
	line-height: 24px;
	text-align: center;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
	font-size: 600px;
	color: #fff;
	border-radius: 50%;
	font-size: 14px;

	position: absolute;
	top: 24px;
	right: 0;
}

.dialogue-item__state-check {
	width: 14px;
	height: 14px;
	fill: #b8bcce;

	position: absolute;
	top: 30px;
	right: 0;
}

.dialogue-item__unread {
	width: 22px;
	height: 22px;
	background: $color-error;
	text-align: center;
	line-height: 22px;
	border-radius: 50%;
	color: #fff;
	font-size: 14px;
	padding: 0 3px;
	position: absolute;
	right: 0;
	bottom: 0;
}

@media (min-width: $bp-lg) {

	.dialogue-item {
		padding-left: 10px;
		padding-right: 10px;
	}
}

@media (min-width: $bp-xl) {

	.dialogue-item {
		padding-left: 25px;
		padding-right: 25px;
	}
}


/**
* Active
*/

.dialogue-item_active {
	background-color: #F7F8FF;
	background-image: linear-gradient(179.62deg, #F7F8FF -6.97%, #EAECF7 99.67%);
}


/**
* Read
*/

.dialogue-item_read {

	.dialogue-item__state-check {
		fill: $color-success;
	}
}
