@import "dev/scss/helpers/variables";
@import "dev/scss/helpers/mixins";

.acns-list {
	margin-bottom: 30px;

	&:last-child {
		margin-bottom: 0;
	}
}


/**
* Size sm
*/

.acns-list_size_sm {

	.acns-list__list {
		margin-bottom: -20px;
	}

	.acns-list__item {
		margin-bottom: 20px;
	}
}
