@import "dev/scss/helpers/variables";
@import "dev/scss/helpers/mixins";

/****************************************************************************/
/* Radial Point loader */
/****************************************************************************/

.loader {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
	left: 0;
	z-index: 999;
	transition: opacity .8s ease;
}

.loader_has-overlay {
	background: rgba(#fff, .5);
}

.loader_fixed {
	position: fixed !important;
}

.loader_hidden {
	opacity: 0;
}

.loader_animated {

	.loader__icon {
		animation: spin 1.2s infinite linear;
	}
}

.loader__icon {
	width: 100px;
	height: 100px;

	@include center-a;
}

@keyframes spin {

	100% {
		transform: rotate(360deg);
	}
}
