{% import "partials/_mixins.njk" as mixins %}

{% macro default(array,params) %}

<div class="social-list {{ params.className }}">
	<div class="social-list__list row {{ params.listClassName }}">
		{% for item in array %}
			<div class="social-list__item {{ params.itemClassName or 'col-auto' }}">
				<a class="social-list__link" href="#" target="_blank" rel="nofollow" title="{{ item.title }}">
					{{ mixins.icon({
						id: item.icon,
						className: 'social-list__icon svg-ico_no_stroke',
						file: 'images/svg.svg',
						attrs: item.attrs
					}) }}
				</a>
			</div>
		{% endfor %}
	</div>
</div>

{% endmacro %}
