{% import "partials/_mixins.njk" as mixins %}
{% import "components/controls/button/button.njk" as button %}

{% macro default(array) %}

<div class="ajax-pag row mt-xl-4">
	<div class="ajax-pag__inner {{ array.className or 'col-12' }}">
		{{ button.default(array.control) }}
	</div>
</div>

{% endmacro %}
