{% macro default (array, params) %}

{% set isEmpty = array.length === 0 %}

<div class="notifications-list">
	<div class="notifications-list__list {{ 'notifications-list__list_empty' if isEmpty }}">
		{% if isEmpty %}
			<div class="notification-item notification-item_empty">
				Нет новых уведомлений
			</div>
		{% else %}
			{% for item in array %}
				{% set elClassName = {
					'notification-item_events': true,
					'notification-item_read': item.read
				} %}

				<div class="notifications-list__item">
					<a class="notification-item {{ elClassName | implode_classname }}" href="#">
						{# {{ ctrl.default({
							type: 'checkbox',
							className: 'c-ctrl_default c-ctrl_primary c-ctrl_xs',
							attrs: {
								id: 'notification-item_' + item.id,
								value: item.id,
								name: 'NOTIFICATION'
							}
						}) }} #}
						<div class="notification-item__body">{{ item.body }}</div>
						<div class="notification-item__date">{{ item.date }}</div>
					</a>
				</div>
			{% endfor %}
		{% endif %}
	</div>
</div>

{% endmacro %}
