@use "sass:math";

@import "dev/scss/helpers/variables";
@import "dev/scss/helpers/mixins";

/****************************************************************************/
/* PROFILE DETAIL */
/****************************************************************************/

.profile-detail {
	margin-bottom: 40px;

	.alert-card {

		.controls-list__list {
			margin-bottom: -10px;
		}

		.controls-list__item {
			margin-bottom: 10px;
		}
	}
}

@media (min-width: $bp-xl) {

	.profile-detail {
		margin-bottom: 85px;
	}
}


/**
* Settings
*/

.profile-detail_settings {

	.profile-detail__section {
		margin-bottom: 40px;
	}

	.c-avatar {
		width: 176px;
	}

	.avatar-card__img {
		top: 8px;
		right: 8px;
		bottom: 8px;
		left: 8px;
	}
}

.invite-form {
	width: 400px;
	max-width: 100%;
	margin-bottom: 30px;

	&:last-child {
		margin-bottom: 0;
	}
}

@media (min-width: $bp-lg) and (max-width: #{$bp-xxl - 1px}) {

	.invite-form {
		width: 100%;
	}
}

.c-avatar__status {
	font-size: 12px;
	text-align: center;
}

.c-avatar__controls {
	margin-top: 15px;
	text-align: center;
}

.personal-form {

	.form-field {
		margin-bottom: 15px;
	}
}

@media (min-width: $bp-xl) {

	.password-form {
		margin-bottom: 70px;
	}

	.profile-detail_settings {

		.profile-detail__main {
			margin-bottom: 115px;
		}

		.c-avatar {
			width: 300px;
		}

		.avatar-card__img {
			top: 10px;
			right: 10px;
			bottom: 10px;
			left: 10px;
		}
	}

	.c-avatar__controls {
		margin-top: 25px;
	}

	.personal-form {

		.form-field {
			margin-bottom: 25px;
			display: flex;
			flex-direction: column;
		}

		.form-field__body {
			flex: 1 0 auto;
			display: flex;
			align-items: center;
		}

		.form-controls {
			margin-top: 50px;
		}

		.c-ctrl_radio {

			.c-ctrl__value {
				margin-left: 10px;
			}
		}
	}
}


/****************************************************************************/
/* PROFILE CARD */
/****************************************************************************/

.profile-card {
	display: flex;
}

.profile-card__aside {
	width: 86px;
	flex: 0 0 auto;
}

.profile-card__main {
	flex: 1 0 1%;
	min-width: 0;
	padding-left: 28px;
}

.profile-card__status {
	font-size: 14px;
	text-transform: uppercase;
	letter-spacing: 2px;
	color: $color-quarternary;
}

.profile-card__lvl {
	font-size: 12px;
	text-transform: uppercase;
	font-weight: 700;
	margin-bottom: 2px;
}

.profile-card__name {
	font-size: 18px;
	font-weight: 700;
	margin-bottom: 8px;
}

.profile-card__props {
	list-style: none;
	font-size: 14px;
}

.profile-card__prop {

	& + & {
		margin-top: 6px;
	}
}

.profile-card__value {
	font-weight: 700;
}

@media (min-width: $bp-md) {

	.profile-card__aside {
		width: 140px;
	}
}

@media (min-width: $bp-md) and (max-width: #{$bp-xxl - 1px}) {

	.profile-detail_owner {

		.profile-card {
			flex-direction: column;
		}

		.profile-card__main {
			padding-left: 0;
			margin-top: 30px;
		}
	}
}

@media (min-width: $bp-xl) {

	.profile-card {

		.avatar-card__img {
			top: 10px;
			right: 10px;
			bottom: 10px;
			left: 10px;
		}
	}

	.profile-card__aside {
		width: 240px;
	}

	.profile-card__main {
		padding-left: 50px;
		padding-top: 10px;
	}

	.profile-card__lvl {
		font-size: 20px;
		margin-bottom: 5px;
	}

	.profile-card__name {
		font-size: 40px;
		margin-bottom: 26px;
	}

	.profile-card__props {
		font-size: 20px;
	}

	.profile-card__prop {

		& + & {
			margin-top: 15px;
		}
	}
}

@media (min-width: $bp-xxl) {

	.profile-card__aside {
		width: 300px;
	}
}


/****************************************************************************/
/* ALERT CARD */
/****************************************************************************/

.alert-card {
	box-shadow: 0px 20px 50px rgba(107, 126, 209, 0.2);
	border-radius: 40px;
	overflow: hidden;
	max-width: 866px;
	background: #fff;

	.c-price_current {
		font-size: 20px;
	}

	.c-price_old {
		font-size: 16px;
	}
}

.alert-card__body {
	background: #fff;
	padding: 35px 25px 30px;
	text-align: center;
	position: relative;
}

.alert-card__decor {
	position: absolute;
	top: 100%;
	left: 0;
	width: 40px;
	height: 40px;
	fill: #fff;
	transform: rotate(180deg);
}

.alert-card__title {
	font-size: 24px;
	font-weight: 700;
	margin-bottom: 20px;
}

.alert-card__img {
	height: 70px;
	margin-bottom: 20px;
}

.alert-card__desc {
	font-size: 14px;
	line-height: 1.5;

	.controls-list {
		margin: 5px 0;
	}

	.controls-list__list {
		margin-left: -10px;
		margin-right: -10px;
	}

	.controls-list__item {
		padding-left: 10px;
		padding-right: 10px;
	}
}

.alert-card__footer {
	padding: 25px;
	position: relative;
}

@media (min-width: $bp-lg) {

	.alert-card_size_lg {

		.c-price_old {
			font-size: 24px;
		}

		.c-price_current {
			font-size: 24px;

			span {
				font-size: 36px;
			}
		}

		.alert-card__body {
			padding: 48px 60px;
		}

		.alert-card__title {
			font-size: 33px;
		}

		.alert-card__desc {
			font-size: 20px;
			line-height: 1.8;
		}

		.alert-card__main {
			flex: 1 0 1%;
			min-width: 0;
			text-align: left;
		}

		.alert-card__aside {
			width: 188px;
		}

		.alert-card__img {
			margin-bottom: 0;
			height: 172px;
		}

		.alert-card__footer {
			padding: 55px 60px;

			.c-btn_style_default.c-btn_size_lg {
				padding-left: 30px;
				padding-right: 30px;
			}
		}
	}
}

@media (min-width: $bp-xl) {

	.alert-card_size_md {

		.c-price_old {
			font-size: 24px;
		}

		.c-price_current {
			font-size: 24px;

			span {
				font-size: 36px;
			}
		}

		.alert-card__body {
			padding: 48px 60px;
		}

		.alert-card__title {
			font-size: 33px;
		}

		.alert-card__desc {
			font-size: 20px;
			line-height: 1.8;
		}

		.alert-card__main {
			flex: 1 0 1%;
			min-width: 0;
			text-align: left;
		}

		.alert-card__aside {
			width: 188px;
		}

		.alert-card__img {
			margin-bottom: 0;
			height: 172px;
		}

		.alert-card__footer {
			padding: 55px 60px;

			.c-btn_style_default.c-btn_size_lg {
				padding-left: 30px;
				padding-right: 30px;
			}
		}
	}
}


/**
* Colors
*/

.alert-card_color_primary {
	background: $color-primary;
}

.alert-card_color_secondary {
	background: $color-secondary;
}

.alert-card_accent {
	background-image: linear-gradient(96.53deg, $color-secondary -3.19%, $color-primary 105.27%);
}


/**
* Footer
*/

.alert-card_footer {

	.alert-card__body {
		border-bottom-right-radius: 40px;
	}
}


/**
* Style card
*/

.alert-card_style_card {

	.alert-card__body {
		padding: 0;
	}

	.alert-card__thumb {
		background: $color-blank;

		@include aspect-ratio(682px, 396px);
	}

	.alert-card__bg {
		background-size: cover;
	}

	.alert-card__outro {
		font-size: 16px;
		line-height: 1.4;
		font-weight: 700;
		margin-bottom: 12px;
	}

	.alert-card__footer {
		padding: 0 20px 20px;
		position: relative;
		background: inherit;

		&:before {
			position: absolute;
			content: '';
			bottom: 100%;
			left: 0;
			right: 0;
			height: 40px;
			background: inherit;
			border-top-left-radius: 40px;
		}
	}

	.alert-card__decor {
		bottom: 100%;
		top: auto;
		right: 0;
		left: auto;
		margin-bottom: 40px;
		transform: rotate(0);
	}
}

@media (min-width: $bp-xl) {

	.alert-card_style_card {

		.alert-card__outro {
			font-size: 24px;
			margin-bottom: 24px;
		}

		.alert-card__footer {
			padding: 30px 70px 70px;
		}
	}
}


/**
* Price
*/

.c-price_old {
	font-weight: 700;
	color: #b8bcce;
	position: relative;

	&:after {
		position: absolute;
		content: '';
		left: 0;
		top: 50%;
		right: 0;
		border-top: 1px solid;
		border-color: inherit;
		transform: rotate(-7.13deg);
	}
}

.c-price_current {
	font-weight: 800;
	color: $color-primary;
}


/****************************************************************************/
/* AVATAR CARD */
/****************************************************************************/

.avatar-card {
	display: block;
	position: relative;
	border-radius: 50%;
	overflow: hidden;
	background: $color-primary;
	background-image: linear-gradient(96.53deg, $color-secondary -3.19%, $color-primary 105.27%);

	@include aspect-ratio(100px, 100px);
}

.avatar-card__img {
	top: 4px;
	right: 4px;
	bottom: 4px;
	left: 4px;
	border-radius: inherit;
	overflow: hidden;
	background-size: cover;
}


/**
* Decor
*/

$gutter: decimal-round(math.div(40, 300) * 100%, 2);

.avatar-card-container_decor {
	position: relative;

	.avatar-card {
		z-index: 1;
	}

	&:after {
		position: absolute;
		content: '';
		background-image: url('../images/border_decor_gradient.png');
		background-repeat: no-repeat;
		background-size: cover;
		background-position: center;
		top: -$gutter;
		right: -$gutter;
		bottom: -$gutter;
		left: -$gutter;
	}
}

.avatar-card-container_decor_light {

	&:after {
		background-image: url('../images/border_decor.png');
	}
}


/****************************************************************************/
/* ENLIGHTMENT BADGE */
/****************************************************************************/

.enlightment-badge {
	color: $color-primary;
	text-transform: uppercase;
	font-size: 16px;
	font-weight: 700;
	letter-spacing: .1em;
}

@supports (-webkit-background-clip: text) {

	.enlightment-badge {
		background: linear-gradient(96.53deg, $color-secondary -3.19%, $color-primary 35.27%);
		-webkit-background-clip: text;
		-webkit-text-fill-color: transparent;
		background-clip: text;
		text-fill-color: transparent;
	}
}


/****************************************************************************/
/* GUEST */
/****************************************************************************/

.profile-detail_guest {
}

.controls-list_profile {
	width: 398px;
	max-width: 100%;

	.controls-list__list {
		margin-bottom: -15px;
	}

	.controls-list__item {
		margin-bottom: 15px;
	}
}

@media (min-width: $bp-xl) {

	.profile-detail_guest {

		.profile-detail__aside {
			padding-top: 62px;
		}

		.profile-card__name {
			margin-bottom: 20px;
		}

		.profile-card__main,
		.c-ctrl_style_default {
			font-size: 20px;
		}

		.profile-card__lvl {
			margin-bottom: 10px;
		}

		.stats-list,
		.enlightment-badge {
			margin-bottom: 24px;
		}

		.stat-item__icon {
			height: 16px;
		}
	}

	.controls-list_profile {

		.controls-list__list {
			margin-bottom: -30px;
		}

		.controls-list__item {
			margin-bottom: 30px;
		}
	}
}
