{% import "partials/_mixins.njk" as mixins %}
{% import "components/controls/button/button.njk" as button %}
{% import "components/controls/range/range.njk" as range %}

{% set fields = [
	{
		label: 'Правильное питание',
		attrs: {
			name: 'field_1',
			min: 1,
			max: 100,
			value: 50,
			step: 1
		}
	},
	{
		label: 'Сон',
		attrs: {
			name: 'field_2',
			min: 1,
			max: 100,
			value: 50,
			step: 1
		}
	},
	{
		label: 'Спорт',
		attrs: {
			name: 'field_3',
			min: 1,
			max: 100,
			value: 50,
			step: 1
		}
	},
	{
		label: 'Величина круга общения',
		attrs: {
			name: 'field_4',
			min: 1,
			max: 100,
			value: 50,
			step: 1
		}
	},
	{
		label: 'Досуг',
		attrs: {
			name: 'field_5',
			min: 1,
			max: 100,
			value: 50,
			step: 1
		}
	},
	{
		label: 'Семья',
		attrs: {
			name: 'field_6',
			min: 1,
			max: 100,
			value: 50,
			step: 1
		}
	},
	{
		label: 'Удовлетворённость работой',
		attrs: {
			name: 'field_7',
			min: 1,
			max: 100,
			value: 50,
			step: 1
		}
	},
	{
		label: 'Самообразование',
		attrs: {
			name: 'field_8',
			min: 1,
			max: 100,
			value: 50,
			step: 1
		}
	},
	{
		label: 'Финансовая свобода',
		attrs: {
			name: 'field_9',
			min: 1,
			max: 100,
			value: 50,
			step: 1
		}
	},
	{
		label: 'Смирение, терпеливость, спокойствие',
		attrs: {
			name: 'field_10',
			min: 1,
			max: 100,
			value: 50,
			step: 1
		}
	},
	{
		label: 'Ответственность',
		attrs: {
			name: 'field_11',
			min: 1,
			max: 100,
			value: 50,
			step: 1
		}
	},
	{
		label: 'Достижение поставленных целей',
		attrs: {
			name: 'field_12',
			min: 1,
			max: 100,
			value: 50,
			step: 1
		}
	},
	{
		label: 'Благодарность, признательность',
		attrs: {
			name: 'field_13',
			min: 1,
			max: 100,
			value: 50,
			step: 1
		}
	},
	{
		label: 'Любовь',
		attrs: {
			name: 'field_14',
			min: 1,
			max: 100,
			value: 50,
			step: 1
		}
	},
	{
		label: 'У меня есть смысл жизни',
		attrs: {
			name: 'field_15',
			min: 1,
			max: 100,
			value: 50,
			step: 1
		}
	}
] %}

<div class="test-details">
	<form class="test-details__form" action="/ajax/handleTest.json" data-ajax-form-test>
		<input type="hidden" name="step" value="1">

		<div class="test-details__head">
			<div class="row">
				<div class="col-12 col-xl-9">
					<h2 class="c-title c-title_size_lg">Тест «Ступени Жизни»</h2>
				</div>
				<div class="col-12 col-xl-3">

				</div>
			</div>
		</div>

		<div data-form-result></div>

		<div class="form-intro">
			Быстро, не задумываясь, проставь наиболее подходящие для себя значения.
		</div>

		<div class="form-fields">
			{% for field in fields %}
				{% set labels = [
					'Плохо',
					'Нейтрально',
					'Очень хорошо',
					''
				] %}

				<div class="form-field form-field_inline row align-items-xl-end {{ 'mb-0' if loop.index >= fields | length }}">
					<div class="form-field__aside col-12 col-xl-4">
						<div class="c-input-label mb-xl-0">{{ field.label }}</div>
					</div>
					<div class="form-field__main col-12 col-xl-8">
						{{ range.default(
							field.attrs,
							{
								className: 'c-rangebar_labels c-rangebar_labels_top',
								bpLabels: labels
							}
						) }}
					</div>
				</div>
			{% endfor %}
		</div>

		<div class="form-controls">
			{{ button.default(
				{
					className: 'c-btn c-btn_style_default c-btn_color_primary c-btn_accent c-btn_size_lg c-btn_width_md',
					text: 'Показать результат',
					attrs: {
						type: 'submit'
					}
				}
			) }}
		</div>
	</form>
</div>
