{# Параметры страницы #}

{% set pageType = 'mainPage' %}
{% set pageWidth = 'fullWidth' %}
{% set hasSidebar = false %}
{% set pageTitle = "Главная страница" %}
{% set headerFixed = true %}
{% set hideFooter = true %}

{# Параметры страницы #}

{% extends "layouts/_layout.njk" %}

{% block content %}



{% endblock %}
