{# Параметры страницы #}

{% set pageType = "innerPage" %}
{% set pageWidth = "fullWidth" %}
{% set hasSidebar = true %}
{% set pageTitle = "Правила подъёма" %}
{% set hideH1 = true %}

{# Параметры страницы #}

{% extends "layouts/_layout.njk" %}
{% block content %}

{% import "components/lists/acns-list/acns-list.njk" as acnsList %}

<section class="c-section c-section_size_lg pt-0 u-line-height-lg">
	<div class="container">
		<h3 class="c-title c-title_size_xl">{{ pageTitle }}</h3>

		<div class="row">
			<div class="col-12 col-lg-8">
				<ul class="c-ul">
					<li>
						<img src="images/clock.svg" alt="">
						Максимальный <b>срок бездействия</b> на Ступенях Жизни — <b>3 суток</b>. После этого происходит ограничение доступа.<br>
						<img src="images/Group 1000001937.png" alt="">
					</li>

					<li>
						Восстановить профиль можно в течение 40 дней, оплатив <b>мотивационную пошлину</b> в размере <b>780 рублей</b>.
					</li>

					<li>
						После <b>40 дней</b> бездействия профиль <b>архивируется</b>. Восстановление невозможно.<br>
						<img src="images/Group 1000001936.png" alt="">
					</li>

					<li>
						<img src="images/umbrella-red.svg" alt="">
						Страховка на случай непредвиденных обстоятельств предотвратит потерю баллов Мудрости и сэкономит бюджет, так как стоит всего 380 рублей.<br>
						<img src="images/Group 1000001935.png" alt="">
					</li>

					<li>
						<b>При наличии страховки</b> по истечении 3 суток бездействия происходит страховой случай, после которого в течение <b>40 дней</b> можно возобновить подъём <b>бесплатно</b>. После окончания этого срока в течение 3 суток необходимо продолжить подъём во избежание ограничения доступа.
					</li>

					<li>
						<img src="images/arrow-steps-up.svg" alt="">
						<b>Баллы Настойчивости</b> начисляются за каждую Ступень непрерывного подъёма. Система автоматически начисляет по 1 баллу Настойчивости за 1 сутки при условии вашей активности. Настойчивость безвозвратно обнуляется после 3 суток бездействия.
					</li>

					<li>
						<img src="images/harmony.svg" alt="">
						<b>Баллы Мудрости</b> начисляются другими участниками за ценные мысли и комментарии в дневнике. В день каждый участник может подарить только 1 балл Мудрости. При отсутствии страховки Мудрость безвозвратно обнуляется после 3 суток бездействия.
					</li>

					<li>
						<b>Смена суток</b> происходит в 3 часа ночи по Московскому времени.
					</li>
				</ul>
			</div>

			<div class="col-12 order-first mb-5 col-lg-4 order-lg-0 mb-lg-0">
				<picture class="c-img ml-auto mr-auto mr-lg-0">
					<source media="(max-width: 1023px)" srcset="images/dummy/rules_img_1.jpg">
					<source media="(min-width: 1024px)" srcset="images/img_rules_1.jpg">
					<img src="images/img_rules_1.jpg" alt="">
				</picture>
			</div>
		</div>

		<div class="c-note c-note_color_primary c-note_accent mt-4">
			<b>ДОСТИГШИЙ</b> — это тот, кто дошел до последней ступени и усвоил на практике все 288 древнейших прописных истин. Для него Правила подъёма по Ступеням Жизни перестают действовать — открывается безграничный доступ.
		</div>
	</div>
</section>

<section class="c-section c-section_size_lg faq-section c-section_decor_default u-bg-color-primary-darker c-section_after_transparent">
	<svg class="c-section__decor c-section__decor_before" xmlns="http://www.w3.org/2000/svg" width="80" height="80" viewBox="0 0 80 80" fill="none"><path fill-rule="evenodd" clip-rule="evenodd" d="M0 80h79.834V0c0 44.128-35.728 79.91-79.834 80Z"/></svg>
	<svg class="c-section__decor c-section__decor_after" xmlns="http://www.w3.org/2000/svg" width="80" height="80" viewBox="0 0 80 80" fill="none"><path fill-rule="evenodd" clip-rule="evenodd" d="M0 80h79.834V0c0 44.128-35.728 79.91-79.834 80Z"/></svg>

	<div class="container">
		<h2 class="c-title c-title_size_xl">Часто задаваемые вопросы</h2>
		{{ acnsList.default(
			faqArr,
			{
				className: 'acns-list_size_sm',
				acnClassName: 'c-acn_style_default c-acn_color_light',
				showForm: true
			}
		) }}
	</div>
</section>

<section class="c-section c-section_size_lg u-line-height-lg">
	<div class="container">
		<h1 class="c-title c-title_size_xl">О привычках</h1>
		<div class="row">
			<div class="col-12 col-lg-8">
				Всем известно о невероятной силе привычки. Многие не понаслышке знают, как трудно расставаться с вредными привычками. Или как трудно привыкать к новым обстоятельствам или условиям жизни. Некоторые, наверняка, пробовали прививать себе какие-то полезные привычки.<br>
				<br>
				Большинство своих привычек мы даже не замечаем. Среди них есть хорошие, плохие, вредные, полезные, бытовые, автоматические и другие. А еще есть привычки, которые проявляются в поведении и образе мыслей, чувственные и даже духовные…<br>
				<br>
				Методика «Ступени Жизни» формирует и закрепляет самые полезные и эффективные привычки, из которых складывается интересная гармоничная личность и увлекательная наполненная жизнь. Привычки, способные изменить человека и положительно повлиять на все сферы его жизни. Привычки, которыми обладают счастливые и успешные люди. И, если ты еще не начал подъем или у тебя остались вопросы, - сейчас самое время!

				<div class="c-section__controls c-section__controls_size_sm">
					<div class="c-section__controls-list row">
						<div class="c-section__ctrl col-auto">
							{{ button.default(
								{
									className: 'c-btn c-btn_style_default c-btn_color_primary c-btn_accent c-btn_size_lg c-btn_width_sm c-btn_xl_width_sm_secondary',
									text: 'Начать подъём',
									icon: mixins.icon(
										{
											className: 'c-btn__icon svg-ico_no_stroke',
											id: 'arrow-steps',
											file: 'images/svg.svg'
										}
									),
									iconPosition: 'after',
									attrs: {
										href: '#'
									}
								}
							) }}
						</div>
						<div class="c-section__ctrl col-auto">
							{{ button.default(
								{
									className: 'c-btn c-btn_style_ghost c-btn_size_lg c-btn_color_primary c-btn_width_sm c-btn_xl_width_sm_secondary',
									text: 'Задать вопрос',
									iconPosition: 'after',
									icon: mixins.icon(
										{
											className: 'c-btn__icon svg-ico_no_stroke',
											id: 'chat',
											file: 'images/svg.svg'
										}
									),
									attrs: {
										href: '#faq-form-popup',
										'data-modal': true
									}
								}
							) }}
						</div>
					</div>
				</div>
			</div>
			<div class="col-12 order-first mb-5 col-lg-4 order-lg-0 mb-lg-0">
				<picture class="c-img ml-auto mr-auto mr-lg-0">
					<source media="(max-width: 1023px)" srcset="images/dummy/rules_img_2.jpg">
					<source media="(min-width: 1024px)" srcset="images/img_rules_2.jpg">
					<img src="images/img_rules_2.jpg" alt="">
				</picture>
			</div>
		</div>
	</div>
</section>

<section class="c-section c-section_size_sm u-line-height-lg pt-0 pb-0">
	<div class="container">
		<div class="row row_gap_lg">
			<div class="col-12 mb-5 col-lg-6 mb-lg-0">
				<h4 class="c-title c-title_size_lg">Правила общения</h4>
				<ul class="c-ul c-ul_color_secondary">
					<li>За неадекватное поведение, нецензурную лексику, проявление агрессии — пожизненный бан. Относитесь к чужому мнению толерантно!</li>
					<li>За спам — пожизненный бан. Любая реклама товаров или услуг будет пресекаться. Мы не запрещаем обмениваться ссылками на полезные ресурсы, но всё должно быть в меру.</li>
				</ul>

				<h4 class="c-title c-title_size_lg">Обратная связь</h4>
				<ul class="c-ul c-ul_color_secondary">
					<li>В любое время можно воспользоваться формами обратной связи на разных страницах сайта, чтобы задать вопрос, предложить идею, сообщить об ошибке или о неадекватных действиях других участников сайта.</li>
				</ul>
			</div>

			<div class="col-12 col-lg-6">
				<h4 class="c-title c-title_size_lg">Правила безопасности</h4>
				<ul class="c-ul c-ul_color_secondary">
					<li>Информация, собранная здесь, имеет рекомендательный характер. Только тебе решать, выполнять какое-то
						действие или нет.</li>
					<li>Данный сайт не является учебным пособием или медицинским руководством. Каждую рекомендацию стоит обдумать, взвесить все «ЗА» и «ПРОТИВ». Если есть сомнения, проконсультируйся с врачом и только после этого приступай к действию.</li>
					<li>Не стоит фанатично относиться к каждому действию. Применяй нововведения постепенно, маленькими дозами. Следи за ощущениями. Твой организм не любит резких перемен. Увеличивай нагрузку Ступень за Ступенью, и результат не заставит себя ждать.</li>
					<li><b>Разработчики сайта «Ступени Жизни» снимают с себя любую ответственность в случае, если при выполнении рекомендаций с данного сайта с вами или другими людьми что-то случится.</b></li>
				</ul>
			</div>
		</div>
	</div>
</section>

<section class="c-section c-section_size_sm u-line-height-lg pb-0">
	<div class="container">
		<h2 class="c-title c-title_size_xl">Примеры</h2>

		<div class="faq-table">
			<div class="faq-table__head row d-none d-lg-flex">
				<div class="faq-table__th col-4">
					<div class="faq-table__th-text">Действия</div>
					<div class="faq-table__spacer"></div>
				</div>
				<div class="faq-table__th col-4">
					<div class="faq-table__th-text">Следствие</div>
					<div class="faq-table__spacer"></div>
				</div>
				<div class="faq-table__th col-4">
					<div class="faq-table__th-text">Результат</div>
				</div>
			</div>
			<div class="faq-table__body">
				<div class="faq-table__row row">
					<div class="faq-table__td col-12 col-lg-4">
						<div class="faq-table__th d-lg-none">Действия</div>
						Действия выполняются ежедневно без превышения 3-суточного перерыва.
					</div>
					<div class="faq-table__td col-12 col-lg-4">
						<div class="faq-table__th d-lg-none">Следствие</div>
						За каждую пройденную Ступень — Настойчивость +1.<br>
						Мудрость начисляется другими участниками за полезные высказывания в дневнике (+N).<br>
						В день можно подарить не более 1 балла Мудрости.
					</div>
					<div class="faq-table__td col-12 col-lg-4">
						<div class="faq-table__th d-lg-none">Результат</div>
						Высокие показатели Настойчивости и Мудрости.<br>
						<img src="images/Group 1000001937 (2).png" alt="">
					</div>
					<div class="faq-table__index">1</div>
				</div>

				<div class="faq-table__row row">
					<div class="faq-table__td col-12 col-lg-4">
						<div class="faq-table__th d-lg-none">Действия</div>
						Действия не выполнялись более 3 суток. Страховка не приобретена заранее.
					</div>
					<div class="faq-table__td col-12 col-lg-4">
						<div class="faq-table__th d-lg-none">Следствие</div>
						Доступ ограничивается. В течение 40 дней необходимо оплатить мотивационную пошлину (780 рублей) или начать всё заново.
					</div>
					<div class="faq-table__td col-12 col-lg-4">
						<div class="faq-table__th d-lg-none">Результат</div>
						Настойчивость обнуляется. <br>
						Мудрость обнуляется.<br>
						<img src="images/Group 1000001937 (1).png" alt="">
					</div>
					<div class="faq-table__index">2</div>
				</div>

				<div class="faq-table__row row">
					<div class="faq-table__td col-12 col-lg-4">
						<div class="faq-table__th d-lg-none">Действия</div>
						Действия не выполнялись более 3 суток. Страховка приобретена (380 рублей).
					</div>
					<div class="faq-table__td col-12 col-lg-4">
						<div class="faq-table__th d-lg-none">Следствие</div>
						В течение 40 дней можно в любой момент бесплатно продолжить подъём. <br>
						По истечении этого срока смотри пункт 2.
					</div>
					<div class="faq-table__td col-12 col-lg-4">
						<div class="faq-table__th d-lg-none">Результат</div>
						Настойчивость обнуляется. <br>
						Мудрость сохраняется. <br>
						После реализации страховых обязательств страховка пропадает.<br>
						<img src="images/Group 1000001935 (2).png" alt="">
					</div>
					<div class="faq-table__index">3</div>
				</div>
			</div>
		</div>
	</div>
</section>

{% endblock %}
