{# Параметры страницы #}

{% set pageType = "innerPage" %}
{% set pageWidth = "normalWidth" %}
{% set pageTitle = "Профиль" %}
{% set hideH1 = true %}
{% set isAuthorized = true %}

{# Параметры страницы #}

{% extends "layouts/_layout.njk" %}
{% block content %}

{% import "components/details/profile-detail/profile-detail.njk" as profileDetail %}

{{ profileDetail.settings(
	profileArr
) }}

{% endblock %}
