{# Параметры страницы #}

{% set pageType = "innerPage" %}
{% set pageWidth = "normalWidth" %}
{% set hasSidebar = true %}
{% set pageTitle = "Детальная" %}
{% set hideH1 = true %}

{# Параметры страницы #}

{% extends "layouts/_layout.njk" %}
{% block content %}

<section class="c-section c-section_size_sm_secondary u-line-height-lg pt-0">
	<div class="row">
		<div class="col-12 mb-5 col-lg-4 mb-lg-0">
			<picture class="c-img ml-auto mr-auto ml-lg-0">
				<source media="(max-width: 1023px)" srcset="images/dummy/prices_img_1.jpg">
				<source media="(min-width: 1024px)" srcset="images/img_price_1.jpg">
				<img src="images/img_price_1.jpg" alt="">
			</picture>
		</div>
		<div class="col-12 col-lg-8">
			<h3 class="c-title c-title_size_sm">О ценах</h3>

			Стоимость доступа к методике «Ступени жизни» всего 370 рублей. Это полная цена за прохождение всего квеста, - от 1-й до последней 288-й ступени. Никаких доплат не потребуется.<br>
			<br>
			При нарушении Правил подъема применяются штрафы – страховка (380 рублей) и мотивационная пошлина (780 рублей). Правила лояльные, есть 3-е суток на бездействие, так что на практике штрафы применяются очень редко. Это все варианты расходов, других нет.
			<br>
			<br>
			<h3 class="c-title c-title_size_sm">О ценности</h3>

			Цена и Ценность – разные понятия. И, если цена участия в этом уникальном развивающем квесте вполне понятная, то ценность определить непросто. Потому что она измеряется такими важными категориями, как счастье, здоровье, радость, удовлетворенность, наслаждение, качество жизни и т.п. Оказывает огромное влияние на все сферы жизни человека. Другими словами, «Ступени Жизни» формирует качественно новый образ жизни. Уместно ли будет назвать ему цену?
		</div>
	</div>
</section>

<section class="c-section c-section_size_sm_secondary u-line-height-lg">
	<h1 class="c-title c-title_size_xl c-title_inner">Образ жизни</h1>

	<div class="row">
		<div class="col-12 col-lg-8">
			Согласно Википедии, образ жизни – «это устоявшаяся форма бытия человека в мире, находящая своё выражение в его деятельности, интересах, убеждениях». «Кроме того, образ жизни человека — ключевой фактор, определяющий все виды его здоровья».<br>
			<br>
			Также Википедия гласит, что «здоровье у человека — состояние полного физического, душевного и социального благополучия, а не только отсутствие болезней и физических дефектов».<br>
			<br>
			В настоящее время принято выделять несколько видов здоровья: физическое, соматическое, социальное, нравственное и психическое, которое еще называют ментальным, духовным и душевным.<br>
			<br>
			А психическое здоровье, согласно определению ВОЗ, «это состояние благополучия, при котором человек может реализовать свой собственный потенциал, справляться с обычными жизненными стрессами, продуктивно и плодотворно работать, а также вносить вклад в жизнь своего сообщества».<br>
			<br>
			И когда мы говорим, что «Ступени Жизни» ведут стойкому положительному результату в развитии человека, который отражается на всех сферах жизни, мы говорим обо всех видах здоровья прежде всего.
		</div>
		<div class="col-12 order-first mb-5 col-lg-4 order-lg-0 mb-lg-0">
			<picture class="c-img ml-auto mr-auto mr-lg-0">
				<source media="(max-width: 1023px)" srcset="images/dummy/prices_img_2.jpg">
				<source media="(min-width: 1024px)" srcset="images/img_price_2.jpg">
				<img src="images/img_price_2.jpg" alt="">
			</picture>
		</div>
	</div>
</section>

<section class="c-section c-section_size_sm_secondary u-line-height-lg">
	<div class="row">
		<div class="col-12 mb-5 col-lg-4 mb-lg-0">
			<picture class="c-img ml-auto mr-auto ml-lg-0">
				<source media="(max-width: 1023px)" srcset="images/dummy/prices_img_3.jpg">
				<source media="(min-width: 1024px)" srcset="images/img_price_3.jpg">
				<img src="images/img_price_3.jpg" alt="">
			</picture>
		</div>
		<div class="col-12 col-lg-8">
			<h2 class="c-title c-title_size_lg">Про ЗОЖ</h2>

			Википедия определяет здоровый образ жизни (ЗОЖ) как «образ жизни человека, помогающий сохранить здоровье и снизить риск неинфекционных заболеваний (НИЗ) путём контроля над поведенческими факторами риска». И с этим трудно не согласиться.<br>
			<br>
			Видим ли мы в ЗОЖниках потенциальных участников проекта «Ступени Жизни»? – Конечно же, да! Про здоровый дух в здоровом теле известно всем, особенно про дух, который подразумевает душевное здоровье. ЗОЖ предполагает именно такое состояние здоровья, а не только отказ от табака и алкоголя.
			<br>
			<br>
			<br>
			<h2 class="c-title c-title_size_lg">Здоровый образ жизни</h2>
			Сторонники ЗОЖ – и есть та самая подготовленная аудитория, которой очень нравится методика «Ступени Жизни». Потому что она позволяет не только в теории, но и на практике реализовать здоровый образ жизни и обеспечивает результаты, значительно превышающие те, которых они могли ожидать. Реальные, быстрые и кардинальные изменения в человеке и его жизни в самую лучшую сторону.<br>
			<br>
			Есть такое понятие как привычки здорового образа жизни. Однажды закрепившись, они ложатся в его основу и не дают человеку разлениться и утратить достигнутые результаты. Привычка – удивительная вещь, потому что формируется не только на физическом, но и на психическом, социальном, и других уровнях.
		</div>
	</div>
</section>

<section class="c-section c-section_size_sm_secondary u-line-height-lg pb-0">
	<div class="row">
		<div class="col-12 col-lg-8">
			<h2 class="c-title c-title_size_lg">Новый образ жизни</h2>
			Именно через «правильные» привычки работает методика «Ступени жизни». И благодаря пониманию механизма формирования здоровых привычек позволяет добиваться таких впечатляющих результатов.

			<div class="c-note mt-4">
				Только ты знаешь, каким ты можешь стать и на что ты способен на самом деле. Осталось только это сделать. Всего 370 рублей и 288 шагов, — и всё получится!
			</div>

			<div class="c-section__controls c-section__controls_size_sm">
				<div class="c-section__controls-list row">
					<div class="c-section__ctrl col-auto">
						{{ button.default(
							{
								className: 'c-btn c-btn_style_default c-btn_color_primary c-btn_accent c-btn_size_lg c-btn_width_sm c-btn_xl_width_sm_secondary',
								text: 'Начать подъём',
								icon: mixins.icon(
									{
										className: 'c-btn__icon svg-ico_no_stroke',
										id: 'arrow-steps',
										file: 'images/svg.svg'
									}
								),
								iconPosition: 'after',
								attrs: {
									href: '#'
								}
							}
						) }}
					</div>
					<div class="c-section__ctrl col-auto">
						{{ button.default(
							{
								className: 'c-btn c-btn_style_ghost c-btn_size_lg c-btn_color_primary c-btn_width_sm c-btn_xl_width_sm_secondary',
								text: 'Задать вопрос',
								iconPosition: 'after',
								icon: mixins.icon(
									{
										className: 'c-btn__icon svg-ico_no_stroke',
										id: 'chat',
										file: 'images/svg.svg'
									}
								),
								attrs: {
									href: '#faq-form-popup',
									'data-modal': true
								}
							}
						) }}
					</div>
				</div>
			</div>
		</div>
		<div class="col-12 order-first mb-5 col-lg-4 order-lg-0 mb-lg-0">
			<picture class="c-img ml-auto mr-auto mr-lg-0">
				<source media="(max-width: 1023px)" srcset="images/dummy/prices_img_4.jpg">
				<source media="(min-width: 1024px)" srcset="images/img_price_4.jpg">
				<img src="images/img_price_4.jpg" alt="">
			</picture>
		</div>
	</div>
</section>

{{ popupForm.default(
	{
		formID: 'faq-form',
		formTitle: 'Задать вопрос',
		action: '/ajax/feedbackFormSuccess.json',
		fields: [
			{
				type: 'text',
				className: 'c-input c-input_style_default c-input_size_lg',
				value: '',
				label: 'Имя',
				attrs: {
					id: 'feedback-form__name',
					name: 'NAME',
					placeholder: 'Введите ваше имя'
				}
			},
			{
				type: 'email',
				className: 'c-input c-input_style_default c-input_size_lg',
				value: '',
				label: 'Email',
				attrs: {
					id: 'feedback-form__email',
					name: 'EMAIL',
					'data-required': true,
					placeholder: 'На этот e-mail вам придёт ответ'
				}
			},
			{
				type: 'textarea',
				className: 'c-input c-input_style_default c-input_size_lg c-input_multiline',
				value: '',
				label: 'Сообщение',
				attrs: {
					id: 'feedback-form__message',
					name: 'MESSAGE',
					'data-required': true,
					placeholder: 'Опишите ваш вопрос или предложение'
				}
			}
		],
		buttons: [
			{
				className: 'c-form__submit c-btn c-btn_style_default c-btn_color_tertiary c-btn_size_lg c-btn_width_sm',
				textClassName: 'c-btn__text',
				text: 'Отправить',
				icon: mixins.icon(
					{
						className: 'c-btn__icon svg-ico_no_stroke',
						id: 'arrow-right-secondary'
					}
				),
				iconPosition: 'after',
				attrs: {
					type: 'submit'
				}
			}
		]
	},
	{
		privacyCheck: true,
		className: 'c-modal_width_md',
		attrs: {
			'data-ajax-form': true
		}
	}
) }}

{% endblock %}
