{% import "partials/_mixins.njk" as mixins %}
{% import "components/lists/stats-list/stats-list.njk" as statsList %}
{% import "components/lists/notifications-list/notifications-list.njk" as notificationsList %}

{% macro default(array, params) %}

<nav class="main-menu main-menu_top" data-popup="fixed_menu_top">
	<ul class="main-menu__menu">
		{% for item in array %}
			{% set itemClassName = {
				'main-menu__item_active': item.active
			} %}

			{% if item.url %}
				{% set url = item.url %}
			{% else %}
				{% set url = 'https://google.ru/?item=' + loop.index %}
			{% endif %}

			{% set attrs = {
				href: url,
				'data-modal': item.params.modal or false
			} %}

			<li class="main-menu__item {{ itemClassName | implode_classname }}">
				<a class="main-menu__link js-menu__link" {{ attrs | implode_attrs | safe }}>
					<span class="main-menu__text">
						{{ item.title }}
					</span>

					{% if item.params.icon %}
						{{ mixins.icon(
							{
								className: 'main-menu__icon svg-ico_no_stroke',
								id: item.params.icon,
								file: 'images/svg.svg'
							}
						) }}
					{% endif %}
				</a>
			</li>
		{% endfor %}
	</ul>
</nav>

{% endmacro %}

{# для авторизованных пользователей #}
{% macro auth(array, params) %}

<nav class="main-menu">
	<ul class="main-menu__menu">
		{% for item in array %}
			{% set itemClassName = {
				'main-menu__item_active': item.active
			} %}

			{% if item.url %}
				{% set url = item.url %}
			{% else %}
				{% set url = 'https://google.ru/?item=' + loop.index %}
			{% endif %}

			{% set attrs = {
				href: url,
				'data-modal': item.params.modal or false
			} %}

			<li class="main-menu__item {{ itemClassName | implode_classname }}">
				{% if item.params.stats %}
					<div class="main-menu__link">
						<div class="skeleton-loading-after" data-stat="1" data-state="stats">
							<div class="enlightment-badge d-none" data-stat-code="status" data-display-state="status">Просветлённый</div>
							{{ statsList.default(
								[
									{
										"code": "wisdom",
										"value": 0
									},
									{
										"code": "persistence",
										"value": 0
									},
									{
										"code": "inactivity",
										"value": 0
									}
								],
								{
									className: 'stats-list_size_sm stats-list_menu',
									hints: true,
									attrs: {
										'data-display-state': 'stats'
									}
								}
							) }}
						</div>
					</div>
				{% elseif item.params.personal %}
					<div class="main-menu__link main-menu__link_personal">
						<div class="profile-dropdown profile-dropdown_notifications">
							<a class="profile-link" href="#">
								<div class="avatar-card">
									<span class="avatar-card__img u-img-bg" style="background-image: url('images/dummy/photo.jpg');"></span>
								</div>
								<div class="profile-link__title" title="Psevdonim">Psevdonim</div>
							</a>

							<a class="tab-marker tab-marker_note tab-marker_empty" href="javascript:;" data-popup-toggle-default data-popup-toggle="notifications" data-use-popper="false" data-notification-marker>
								<span class="tab-marker__value">+<span data-notification-marker-value>{{ tab.messages }}</span></span>
								{{ mixins.icon(
									{
										className: 'tab-marker__icon svg-ico_no_stroke',
										id: 'chat',
										file: 'images/svg.svg'
									}
								) }}
							</a>

							<div class="popup-notifications" data-popup="notifications">
								<div class="popup-notifications__head">
									Новых событий: 0
								</div>
								<div class="popup-notifications__body">
									{{ notificationsList.default(
										[]
									) }}
								</div>
							</div>
						</div>
					</div>
				{% else %}
					<a class="main-menu__link main-menu__link_events" {{ attrs | implode_attrs | safe }}>
						<span class="main-menu__text">
							{{ item.title }}
						</span>

						{% if item.params.icon %}
							{{ mixins.icon(
								{
									className: 'main-menu__icon svg-ico_no_stroke',
									id: item.params.icon,
									file: 'images/svg.svg'
								}
							) }}
						{% endif %}
					</a>
				{% endif %}
			</li>
		{% endfor %}

		<li class="main-menu__item main-menu__item_more {{ itemClassName | implode_classname }}">
			<a class="main-menu__link main-menu__link_events main-menu__link_more" href="javascript:;" data-popup-toggle-default data-popup-toggle="main_menu" data-use-popper="false">
				<div class="main-menu__icon-container">
					{{ mixins.icon(
						{
							className: 'main-menu__icon svg-ico_no_stroke',
							id: 'bars-secondary'
						}
					) }}
				</div>
			</a>

			<div class="popup-menu" data-popup="main_menu">
				<svg class="popup-menu__decor" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 34 18"><path d="m16.5 0 16.022 17.25H.479L16.5 0Z"/></svg>
				<ul class="popup-menu__menu">
					{% for item in params.profileMenu %}
						<li class="popup-menu__item {{ 'popup-menu__item_active' if item.active }}">
							<a class="popup-menu__link" href="#">{{ item.title }}</a>
						</li>
					{% endfor %}
				</ul>
			</div>
		</li>
	</ul>
</nav>

{% endmacro %}
