.c-footer {
	flex-shrink: 0;
	background: $color-tertiary;
	color: #9da3be;
	border-top-left-radius: 40px;
	padding: 50px 0 20px;
	position: relative;
	text-align: center;

	.c-logo {
		width: 242px;
	}

	a {

		&:hover, &:focus {
			color: $color-primary;
		}
	}
}

.c-footer__decor {
	fill: $color-tertiary;
	position: absolute;
	bottom: 100%;
	right: 0;
	width: 40px;
	height: 40px;
}

.c-footer__logo {
	margin-bottom: 40px;
}

.c-footer__nav {
	font-size: 12px;
}

.c-footer__copyright {
	margin-top: 8px;
	font-size: 11px;
	text-transform: uppercase;
}

@media (min-width: $bp-md) {

	.c-footer {

		.c-logo {
			width: 200px;
		}
	}
}

@media (min-width: $bp-xl) {

	.c-footer {
		padding-bottom: 50px;
		border-top-left-radius: 80px;

		.c-footer__nav {
			flex: 1 0 1%;
			min-width: 0;
		}
	}

	.c-footer__decor {
		width: 80px;
		height: 80px;
	}

	.c-footer__aside {

		& > .row {
			margin-left: -30px;
			margin-right: -30px;
		}
	}

	.c-footer__nav,
	.c-footer__copyright {
		padding-left: 30px;
		padding-right: 30px;
	}

	.c-footer__nav {
		font-size: 16px;
	}

	.c-footer__copyright {
		font-size: 13px;
	}
}
