/****************************************************************************/
/* PAGE LAYOUT */
/****************************************************************************/

/**
* 1. IE10-11 игнорируют свойство min-height у flex-контейнеров, поэтому указываем height меньше нужного, он перезапишется min-height
* 2. Prevent text zoom on non-responsive websites in mobile browsers.
* 3. Используем important, чтобы перебить стили fancybox, из-за которых страница прыгает наверх
*/

// с этим не работает sticky шапка
// html,
// body {
// 	overflow-x: hidden;
// 	height: 100%;
// }

body {
	font-size: 14px;
	line-height: 1.4;
	color: $color-text;
	font-family: $font-primary;
}

.c-page {
	min-width: $bp-xs;
	display: flex;
	flex-direction: column;
	min-height: 100vh;
	// overflow-x: hidden;
	position: relative;
	background: linear-gradient(179.62deg, #f7f8ff -6.97%, #eaecf7 99.67%);
	background-repeat: no-repeat;
}

/**
* Header Fixed
*/


@media (min-width: $bp-md) {

	body {
		font-size: 16px;
	}
}

@media (min-width: $bp-xxl) {

	body {
		font-size: 18px;
	}
}


/**
* Editmode
*/

.bx-editmode {
	height: auto;

	body {
		height: auto;
	}
}
