/****************************************************************************/
/* LOGOTYPE */
/****************************************************************************/

.c-logo {
	display: inline-block;
	width: auto;
	max-width: 100%;
	text-decoration: none;
}
