
.skeleton-loading {
	background-color: #e2e2e2 !important;
	background-image: linear-gradient(-90deg, transparent 0%, #fff 50%, transparent 100%) !important;
	background-size: 300% 100% !important;
	animation: loading 2s infinite;
}

.skeleton-loading-after {
	position: relative;

	&:after {
		content: '';
		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		z-index: 1;
		background-color: #e2e2e2 !important;
		background-image: linear-gradient(-90deg, transparent 0%, #fff 50%, transparent 100%) !important;
		background-size: 300% 100% !important;
		animation: loading 2s infinite;
	}
}

@keyframes loading {

	100% {
		background-position: -135% 0;
	}
}
