@use "sass:math";

@import "dev/scss/helpers/variables";
@import "dev/scss/helpers/mixins";

/****************************************************************************/
/* FRIENDS LIST */
/****************************************************************************/

.friends-list__list {
	margin-bottom: -15px;
}

.friends-list__item {
	margin-bottom: 15px;
}

@media (min-width: $bp-xl) {

	.friends-list__list {
		margin-bottom: -30px;
	}

	.friends-list__item {
		margin-bottom: 30px;
	}
}


/****************************************************************************/
/* FRIEND ITEM */
/****************************************************************************/

.friend-item {
	background: #fff;
	border-radius: 40px;
	padding: 20px 25px;
	display: flex;
	flex-wrap: wrap;
	position: relative;

	.avatar-card-container {
		align-self: start;
	}

	.avatar-card {
		width: 36px;
		height: 36px;
		flex: 0 0 auto;
	}

	.avatar-card__img {
		top: 2px;
		right: 2px;
		bottom: 2px;
		left: 2px;
	}

	.stats-list {
		font-size: 12px;
	}
}

.friend-item__main {
	padding-left: 10px;
}

.friend-item__title {
	font-size: 14px;
	font-weight: 700;
}

.friend-item__lvl {
	font-size: 11px;
	font-weight: 700;
	text-transform: uppercase;
	margin-top: 4px;
}

.friend-item__controls {
	flex: 0 0 100%;
	margin-top: 20px;
	text-align: center;
}

.friend-item__chat {
	width: 100%;
}

@media (max-width: $bp-md - 1px) {

	.friend-item {

		.enlightment-badge {
			font-size: 12px;
		}
	}
}

@media (min-width: $bp-xxl) {

	.friend-item {
		padding: 35px;

		.avatar-card {
			width: 120px;
			height: 120px;
		}

		.stats-list,
		.enlightment-badge {
			margin-top: 18px;
		}
	}

	.friend-item__main {
		padding-left: 30px;
		flex: 1 0 1%;
		min-width: 0;
	}

	.friend-item__title {
		font-size: 20px;
	}

	.friend-item__lvl {
		font-size: 14px;
	}

	.friend-item__controls {
		flex: 0 0 auto;
	}

	.friend-item__chat {
		width: 284px;
	}

	.friend-item__delete {
		position: absolute;
		top: 20px;
		right: 25px;
	}
}

.attention-marker {
	width: 32px;
	height: 32px;
	border-radius: 50%;
	background: #ff4c6d;
	color: #fff;
	font-weight: 600;
	font-size: 12px;
	text-align: center;
	margin-left: 10px;
	line-height: 32px;
}
